/* @media (max-width:1200px) {
    .client {
        padding: 20px;
        width: 100px;

    }

    .client h2 {
        font-size: 20px;
    }

    .client span {
        font-size: 12px;
    }
} */


@media (max-width:480px) {
    .value-wrapper-banner {
        padding: 20px;
    }

    .butn__new {
        font-size: 12px;
        padding: 13px;
        margin-left: 15px;
    }
    .box-group .client {
        flex: 1 1 calc(50% -10px);
        text-align: center;
    }
    .box-group {
        flex-wrap: wrap;
    }


}

@media (max-width:767px) {
    .top-bar {
        text-align: start;
        max-width: 100%;

    }

    .collapes {
        display: none;
    }

    .contact-us {
        text-align: center;
    }

  

    .banner-content img {
        position: absolute;
        top: 30px;
        left: -15px;
    }

    /* .logo {
        width: 100%;
    } */

    .icon {
        flex-grow: 1;
    }

    /* .contact-us {
        display: none;
    } */

    .top-bar p,
    a {
        color: var(--white);
        /* width: 100%; */
        text-align: left;
        padding-left: 10px;
        font-size: 12px;

    }

    .toggle-btn {
        display: block;
        z-index: 1001;

    }

    .container {
        position: relative;
        padding: 10px;
    }

    .show {
        display: block;
    }

    .about-us {
        background-color: var(--grey40);
        width: 100%;
    }

    .banner {
        margin-right: 60px;
    }

    /* .title{
        padding-top: 60px;
    } */
    .nav-ul {
        /* display: flex; */
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        text-align: start;
        left: 0;
        right: 0;
        /* max-width: 100% !important; */
        padding: 10px 30px 10px 30px;
        z-index: 99999999;
        height: auto;
        /* min-width: 100%; */
        background-color: var(--grey10);

    }

    /* .nav-ul li{
    width: 100%;
}  */
    .about-us {
        /* width: 100%;
     */
        margin-left: 0px;

    }

    .icon img {
        width: 30px;
        height: 30px;
        /* padding-right: 10px; */
    }

    .icon p {
        font-size: 20px;
        /* font-weight: 500; */
    }

    .contact-us {
        margin-right: 10px;
        padding: 15px 40px;
    }

    .banner-wrapper {
        flex-direction: column;
    }

    .banner-img {
        order: 1;
        width: 100%;
    }

    .banner-img img {
        height: 270px;
        width: 370px;
        object-fit: cover;
        left: 10px;

    }

    .banner-wrapper {
        padding: 40px 40px;
    }

    .banner-content {
        order: 2;
        width: 100%;
        padding-top: 60px;

    }

    .banner-image {
        width: 100%;
    }

    .value-wrapper-banner {
        padding: 20px;
        display: flex;
        flex-direction: column;

    }

    .value-content {
        padding: 10px;
    }

    .value-content img {
        top: -26px;
        left: -11px;
    }

    .trust-combain {
        display: flex;
        border: none;
        flex-direction: column;

    }

    .trust {
        border: none;
        padding: 10px 0;
    }

  

    .achivement-boxes-grp {
        flex-direction: column;
        margin: 9px;
    }

    .achivement-banner,
    .navigation-banner,
    .founding-team-banner {
        padding: 80px 20px;
    }

    .achivement-banner img,
    .navigation-banner img,
    .founding-team-banner img {
        top: 40px;
        left: 7px;
    }

    .last-section-banner {
        display: flex;
        flex-wrap: wrap;
    }

    .last-section-btn button {
        width: 100%;
    }

    .last-section-text {
        width: 100%;
        padding: 20px;
    }

    .last-section-btn {
        width: 100%;
        padding: 15px;
    }

    .domain h3,
    .since h3 {
        font-size: 15px;
    }

    /* .email-input {
        width: 100%;
    } */

    .our-valued-card {
        padding: 10px;
    }

    .our-valued-banner {
        padding: 70px 20px;
    }

    .our-valued-banner img {
        left: 15px;
    }

    .trust,
    .excellence {
        border-bottom: 1px solid var(--grey15);
        padding: 10px 0 20px 0;
    }

    .footer-section-all {
        /* padding: 30px 0; */
        /* padding: 0px 20px; */
        justify-content: start;
        display: flex;
        /* grid-gap: 10px; */
        flex-wrap: wrap;
        padding: 30px 40px;
        /* columns: 2; */
        align-items: start;

    }

    .sub-footer {
        display: flex;
        flex-direction: column-reverse;
        gap: 17px;
    }

    .steps-content-grp {
        display: grid;
        grid-template-columns: 1fr;
        margin: 5px;

    }

    .rights-section {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
    }


    .swiper-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    /* .swiper-utility, .swiper-btn, .swiper-pagination-counting{
        text-align: center;
        order: 2;
        margin-right: -30px;
        padding: 0;
    }
    .swiper-utility, .swiper-btn, .button-prev{
        order: 1;
        width: 65px;
        height: 40px;

    }
    .swiper-utility, .swiper-btn, .button-next{
        order: 3;
        width: 65px;
        height: 40px;
    } */
}

.footer-ul {
    gap: 0px;
}

.butn__new {
    font-size: 12px;
    padding: 13px;
    /* margin-left: 10px; */
}

/* .footer-sections{
    padding: 0px 10px;
} */

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



/* .steps-content-grp {
    display: grid;
   grid-template-columns: 1fr;
    
} */


.founding-members {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* gap: 32px; */
    flex-wrap: wrap;
}

.discover-content-border {
    padding: 0 5px;
}

/* .founding-img {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 220px;
}
.founding-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
} */





@media (max-width:952px) {
    .banner-img {
        /* width: 50%; */
        padding: 60px 0px 70px 0;

    }

    .banner-img img {
        height: 270px;
        width: 370px;
        object-fit: cover;

    }

}